.parent {
  display: inline-flex;
  justify-content: space-between;
  min-width: 60%;
  margin: 0 auto;
  background: #deebf7;
  padding: 10px 10px;
  border-radius: 2%;
}

.child {
  padding: 15px;
  margin: 5px;
}