.center {
    justify-content: left;
    min-width: 50%;
    padding-left: 16%;
    padding-top: 2%;
    align-items: center;
}

.btn {
    margin-left: 2px;
}

.input-wala{
    min-width: "10%";
    justify-content: right;
    border-color: black;
    background-color: red;
    padding: 5px;
}

.parent {
    display: inline-flex;
    justify-content: space-between;
    min-width: 5%;
    background: #deebf7;
    padding: 0px 0px;
    border-radius: 2%;
    margin-bottom: 2px;

}
  
  .child {
    padding: 15px;
    margin: 5px;
  }